<div ng-controller="ArticleListCtrl" ng-show="articlesCategoriesCollection" class="articles-list" ng-cloak>
  <catalog-button></catalog-button>
  <div  ng-repeat="category in articlesList">
    <div class="row article-header">
      <div class="col-xs-12 text-right">
        <h3>{{category.categoryName}}</h3>
      </div>
    </div>

    <div ng-repeat="article in category.articles" class="row car-list-item" ng-click="showArticle(article)">
      <div ng-if="$index%3 == 1" class="inline-ad" style="margin-bottom:5px;border-bottom: #222 solid 1px;">
        <div class="auto-ad-container big-ad inline" style="height: 250px;" ng-if="showBanner()">
          <iframe ng-src="{{getBigBannerUrl($id+digest)}}" style="width: 100%; border: none; height:250px;"></iframe>
        </div>
      </div>
      <div class="col-xs-6 col-xxs">
        <img  class="img-responsive" ng-src="{{article.imageUrl}}">
      </div>
      <div class="col-xs-6 col-xxs">
        <h4>{{article.title}}</h4>
        <p>{{article.subTitle}}</p>
      </div>
    </div>

    <div class="row border-bottom">
      <div class="col-xs-12 text-left more-in-category">
        <a href="#articles/category/{{category.categoryId}}" >
          <h3>עוד ב{{category.categoryName}}...</h3>
        </a>
      </div>
    </div>
  </div>
</div>
