<div ng-controller="ArticleCtrl" ng-show="article" class="article" ng-cloak="article.title">
  <div class="row" >
    <div class="col-xs-12 text-right image-header">
      <h3>{{article.title}}</h3>
      <span>{{article.date}}</span><span>&nbsp;{{article.author}}</span>
    </div>
    <!-- TODO: return this back once we get facebook share -->
    <!--<div class="col-xs-3 share-col">
      <button class="share-btn" ng-click="fbShare()">
        <i class="glyphicon glyphicon-share"></i>
      </button>
    </div>-->
  </div>
  <div class="row" >
    <div class="col-xxs col-xs-6 col-lg-5 col-md-6 col-sm-6">
      <div ng-if="!iFrameId(article)">
        <img src="{{article.imageUrl}}" class="img-responsive">
        <div ng-if="article.photographer != ''">
          <span style="font-size: 0.7em;">צילום: {{article.photographer}}</span>
        </div>
      </div>
      <div ng-if="iFrameId(article)">
        <iframe ng-src="{{iFrameSrc(article)}}" width="100%" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
    <div class="col-xxs col-xs-6 col-lg-7 col-md-6 col-sm-6 text-right aricle-subtitle">
      <h4>{{article.subTitle}}</h4>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-xs-12 text-right">
      <articlecontentparser trustedhtml="{{article.content}}"></articlecontentparser>
    </div>
  </div>
  <div class="auto-ad-container big-ad inline" style="margin-top: 20px;" ng-if="showBanner()">
    <iframe ng-src="{{getBigBannerUrl($id+digest)}}" style="width: 100%; border: none; height:300px;"></iframe>
  </div>
  <hr/>
  <more-articles category-id="{{article.categoryId}}" current-article-id="{{article.articleId}}"></more-articles>
  <iframe ng-src="{{mako_url}}" frameBorder="0" height="1" width="1"></iframe>
  <iframe ng-src="{{mako_personalization_url}}" width="0" height="0" style="visibility: hidden;display: none;"></iframe
</div>
