<div ng-controller="CarModelCtrl" class="model-page" ng-show="images">
  <div class="row" >
    <div class="col-xs-12"><h1 class="special-writing dark-red">{{model.name}}</h1></div>
    <div ng-class="{'col-xs-12': isXXS, 'col-xs-6': !isXXS}">
      <slick init-onload=true ng-if="galleryVisible" data="images" slides-to-show="1" slides-to-scroll="1" rtl="true" lazyload="progressive" adaptive-height: ="true">
          <div ng-repeat="item in images">
            <img ng-src={{item.imageUrl}} class="img-responsive"  ></img>
          </div>
      </slick>
    </div>

    <div class="col-xs-6 col-xxs sub-header">
      <hr class="hidden-xxs"></hr>
      <div class="text-right">
        <h4>קטגוריה:</h4>
      </div>
      <div class="text-left">
        <h4>{{model.category}}</h4>
      </div>
    </div>
    <div class="col-xs-6 col-xxs sub-header">
      <hr/>
      <div class="text-right">
        <h4>מחיר:</h4>
      </div>
      <div class="text-left">
        <h4 >{{getCarModelPriceStr()}}</h4>
      </div>
    </div>
    <div class="col-xs-6 col-xxs sub-header" ng-show="model.hasSafetyStars">
      <hr/>
      <div class="text-right">
        <h4>מבחני ריסוק:</h4>
      </div>
      <div class="text-left">
        <div startsimage starstext="{{model.safetyStars}}"></div>
      </div>
    </div>

    <div class="col-xs-12 text-center">
      <a href="javascript:void(0)" ng-click="displayConsulting()" class="btn btn-danger btn-block"><h4>{{model.consultingText}}</h4></a>
    </div>

    <!-- <div class="col-xs-6 col-xxs text-right">
      <hr/>
      <h4 texthtmlparser texthtml="{{model.review.summary}}">{{model.review.summary}}</h4>
    </div> -->
    <div class="col-xs-12" ng-repeat="review in reviews">
      <header class="text-right">
        <h4 class="special-writing dark" style="font-weight: bolder; text-align: right;">{{review.title}}</h4>
      </header>
      <p class="text-right" style="font-size: 120%" texthtmlparser texthtml="{{review.content}}"></p>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12 text-center">
      <a href="javascript:void(0)" ng-click="displayConsulting()" class="btn btn-danger btn-block"><h4>{{model.consultingText}}</h4></a>
    </div>
  </div>
  <br/>
  <div class="row">
    <div id="model-versions" class="col-xs-12" ng-if="versions">
      <hr>
      <h2 class="special-writing dark-red">{{model.name}} - גרסאות</h2>
      <ul class="list-group">
        <li ng-repeat="version in versions" class="list-group-item">
          <a href="#/catalog/model/version/details?modelId={{version.modelId}}&versionId={{version.versionId}}">
            <div class="text-right" style="color: black">
              {{version.name}}
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div id="model-videos" class="col-xs-12" ng-if="videos">
      <hr>
      <h2 class="special-writing dark-red">{{model.name}} - וידיאו</h2>
      <div ng-repeat="video in videos" class="col-xs-12 car-list-item">
        <iframe title="YouTube video player" class="youtube-player" type="text/html"
          width="100%" max-width="450" height="300" ng-src="{{trustUrl(video.videoUrl)}}"
          frameborder="0" allowFullScreen></iframe>
        <div class="col-xs-12 text-right"><h4>{{video.title}}</h4></div>
      </div>
    </div>
  </div>

  <div class="row more-articles" ng-if="showArticles" >
    <div class="col-xs-12"><h2 class="special-writing dark-red">{{model.name}} - כתבות</h2></div>
    <!--<ul rn-carousel rn-carousel-indicator rn-carousel-control>-->
    <div ng-repeat="article in model.modelArticles" ng-click="navigate('/articles/' + article.ItemID)" class="pull-right col-xs-12 more-articles-item">
      <div class="col-xs-5 col-sm-3">
        <img ng-src="http://www.auto.co.il/{{article.ImageUrl}}" class="img-responsive"></img>
      </div>
      <div class="col-xs-7 col-sm-9 pull-right">
        <h4>{{article.Title}}</h4>
      </div>
      <hr>
    </div>
  </div>

  <div class="row competitors" ng-if="competitors" >
    <div class="col-xs-12">
      <h2 class="special-writing dark-red">{{model.name}} - דגמים מתחרים</h2></div>
      <div ng-repeat="competitor in competitors" ng-if="competitor.model_id != model.id"
        ng-click="navigate('/catalog/models/' + competitor.model_id)">
      <div class="col-xs-6" ng-if="isXXS">
        <div class="competitor-item">
          <img ng-src="{{competitor.image_url}}" class="img-responsive"></img>
          <h4 class="special-writing">{{competitor.name}}</h4>
        </div>
      </div>
      <div ng-if="!isXXS" class="col-xs-4">
        <div class="competitor-item">
          <img ng-src="{{competitor.image_url}}" class="img-responsive"></img>
          <h4 class="special-writing">{{competitor.name}}</h4>
        </div>
      </div>
    </div>
  </div>


<!--   <ul class="list-group" style="margin-bottom: 15px">
    <li ng-repeat="td in tableData" ng-click="navigate(td.link)" class="list-group-item">
    {{td.title}}
    </li>
  </ul> -->
  <input type="hidden" value="{{images[0].imageUrl}}" id="customImageUrl1"/>
  <input type="hidden" value="{{images[1].imageUrl}}" id="customImageUrl2"/>
  <input type="hidden" value="{{model_id}}" id="modelId"/>
  <input type="hidden" value="{{model.CrmModelId}}" id="crmModelId"/>
  <input type="hidden" value="{{model.CrmBrandId}}" id="crmBrandId"/>
  <input type="hidden" value="{{model.BrandID}}" id="brandId"/>
  <input type="hidden" value="{{model.name}}" id="modelName"/>
  <iframe ng-src="{{mako_url}}" frameBorder="0" width="1" height="1"></iframe>
  <div ng-if="model.IsBannerActive" id="auto-bottom-ad-container" class="navbar navbar-default navbar-fixed-bottom">
    <iframe src="{{BannerUrl}}" style="position: absolute; top: 0; left: 0; width: 100%; border: none;"></iframe>
  </div>
</div>
