<div class="catalog-button-container row">
  <div class="catalog-button" ng-click="navigate('/catalog/manufacturers')">
    <div class="left-part">
      <img src="/assets/images/arrow-down.png"/>
    </div>
    <div class="right-part">
      <span class="special-writing red text">בחר יצרן</span>
      <span class="special-writing red separator"><img src="/assets/images/separator.png"/></span>
      <span class="special-writing red text">בחר דגם</span>
    </div>
  </div>
</div>
