<div ng-controller="LeasingCtrl" class="content-page">
  <div>
    <h1 class="special-writing dark-red" style="font-weight: bold;">ליסינג</h1>
    <div class="content-list">
      <div ng-repeat="article in leasingArticles" class="content-list-item">
        <a ng-href="/#{{article.url}}">
          <h4 class="text-center special-writing dark-red" style="padding: 0; margin: 0;">
            {{article.name}}
          </h4>
        </a>
      </div>
    </div>
  </div>
  <hr/>
  <h4 class="special-writing dark-red">בעל עסק? חושב על עסקת ליסינג?</h4>

  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12 text-center">
      <a href="javascript:void(0)" ng-click="displayConsulting()" class="btn btn-danger"><h4 class="special-writing">לחץ כאן לקבלת יעוץ חינם</h4></a>
    </div>
  </div>
  <hr/>
  <div>
    <h4 class="special-writing dark" style="font-weight: bolder;">מה המהות של עסקת ליסינג? איך בדיוק זה עובד?</h4>

    <p><strong>ליסינג</strong> הוא מונח לועזי שאומץ גם לעברית, ומשמעו חכירה.</p>

    <p>השימוש הנפוץ ביותר במושג הוא בתחום הרכב - זו דרך לקבל רכב חדש מבלי להידרש להשקעת סכום ראשוני גבוה – בחלק מעסקאות הליסינג, אין סכום ראשוני כלל, אלא רק תשלומים שוטפים.</p>

    <p>בליסינג משלם הלקוח תמורת הרכב תשלום חודשי קבוע וידוע מראש, לפעמים עם מקדמה ולפעמים בלי, כאשר בדרך כלל הרכב אינו רשום על שמו.
    </p>

    <p>קיימים שני סוגי ליסינג עיקריים – האחד, "ליסינג מימוני" או "ליסינג פרטי", הוא למעשה שיטת מימון לרכישת הרכב, תחליף להלוואה מהבנק, למשל, ובו תחזוקת הרכב היא על הלקוח.
    </p>

    <p>המסלול השני הוא "ליסינג תפעולי", ובו כל תחזוקת הרכב מבוצעת על ידי חברת הליסינג, ומדובר למעשה בהשכרה לטווח ארוך.</p>

    <p>תקופת החכירה משתנה מעסקה לעסקה, אולם לרוב היא נמשכת בין שנתיים לשלוש שנים (24-36 חודשים).
    </p>

    <p>בתום תקופת הליסינג יכול בעל הרכב לבחור האם לרכוש את הרכב, לסיים את העסקה ולהחזיר את לחברת הליסינג, או להמשיך את ההתקשרות ולעבור לרכב חדש.
    </p>

    <p>בעבר תחום הליסינג היה מזוהה רק עם חברות גדולות, אבל כיום, תחום הליסיג פתוח גם לאזרחים מן השורה, ומאפשר להם להחליף את רכבם בלי השקעת הון ראשוני גדול, תוך פתיחת ערוצי מימון חדשים לקניית רכב, וגמישות במסלולי הרכישה.
    </p>

    <p>כתוצאה מכך, עסקאות ליסינג הפכו לעסקאות נפוצות בשוק הרכב החדש, כאשר נתח הולך וגדל מכלל המכוניות הנרכשות על ידי חברות הליסינג הגדולות מופנה לאנשים פרטיים.
    </p>
  </div>
  <hr/>
  <h2 class="special-writing dark-red">מדריכים וכתבות בנושא ליסינג</h2>
  <ul class="list-group">
    <li class="list-group-item text-center" ng-repeat="article in leasingContent">
      <a ng-href="/#{{article.url}}">
        <h5 class="text-center dark" style="padding: 0; margin: 0;">
            <strong>{{article.name}}</strong>
        </h5>
      </a>
    </li>
  </ul>
  <hr/>
  <img style="margin: 0 auto;" class="img-responsive" src="http://campaign.auto.co.il//media/8548/יועץ-חדש.jpg">
  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12 text-center">
      <a href="javascript:void(0)" ng-click="displayConsulting()" class="btn btn-danger"><h4 class="special-writing">לחץ כאן לקבלת יעוץ חינם</h4></a>
    </div>
  </div>
  <hr/>
  <h2 class="special-writing dark-red">כתבות נוספות בנושא ליסינג</h2>
  <more-articles category-id="83" current-article-id="10000" no-skip="true" more-text=""></more-articles>
</div>
