<div ng-controller="ManufacturersCtrl" class="container manf-page" ng-show="manufacturers">
  <h2>בחר יצרן</h2>

    <div ng-click="selectMF(manufacturer)" ng-repeat="manufacturer in manufacturers" class="manf-list-item row">
      <div class="row">
        <div class="col-xs-3">
          <img ng-src="{{manufacturer.logoUrl}}" />
        </div>
        <div class="col-xs-8">
          <h3>{{manufacturer.name}}</h3>
        </div>
      </div>
    </div>
</div>
