<div ng-controller="LeasingCtrl" class="content-page">
  <div>
    <h1 class="special-writing dark-red" style="font-weight: bold;">ליסינג תפעולי</h1>
    <div class="content-list">
      <div ng-repeat="article in leasingArticles" class="content-list-item">
        <a ng-href="/#{{article.url}}">
          <h4 class="text-center special-writing dark-red" style="padding: 0; margin: 0;">
            {{article.name}}
          </h4>
        </a>
      </div>
    </div>
  </div>
  <hr/>
  <h4 class="special-writing dark-red">בעל עסק? חושב על עסקת ליסינג תפעולי?</h4>
  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12 text-center">
      <a href="javascript:void(0)" ng-click="displayConsulting()" class="btn btn-danger"><h4 class="special-writing">לחץ כאן לקבלת יעוץ חינם</h4></a>
    </div>
  </div>
  <hr/>
  <div>
    <h4 class="special-writing dark" style="font-weight: bolder;">ליסינג תפעולי - כל התשובות</h4>

<p>בליסינג תפעולי התשלום החודשי כולל את כלל עלויות הרכב: מהתשלום עבור הרכב עצמו, דרך תשלום הביטוחים, הטיפולים (כולל החלפת צמיגים ומצבר), אגרת הרישוי וביצוע מבחן הרישוי ועד תיקוני תקלות ותאונות.</p>
<p>לעיתים הסכם הליסינג התפעולי כולל גם שירותים נוספים, כגון רכב חליפי כאשר הרכב במוסך, נהג שייקח ויחזיר את הרכב לטיפול וכדומה. עסקאות הליסינג התפעולי נבדלות זו מזו בפרטים שונים כאשר העיקרי שבהם הוא הנסועה המקסימאלית הכלולה בעסקה.</p>
<p>בעקבות התחרות מכיוון הליסינג המימוני, מציעות חלק מחברות הליסינג מסלולים תפעוליים מוזלים, שבה מוותר הלקוח מראש על חלק מחבילת השירות וה"פינוקים" תמורת הפחתת התשלום החודשי.</p>
<p>שיטה זו מיועדת בעיקר לחברות עם צי רכב גדול, המספקות מכוניות לעובדיהן כחלק מתנאי העבודה, או שעיסוקן דורש שימוש בכלי רכב רבים לצורכי עבודה. כלי הרכב נבחרים מתוך ההיצע של חברת הליסינג עימה חתמה החברה על חוזה, מה שמעמיד בפני העובדים בדרך כלל היצע מצומצם יחסית של כלי רכב לבחור מתוכו.</p>
<p>לא נדרש תשלום מקדמה על הרכב, והאספקה בדרך כלל מידית, או לפחות מהירה מאוד. בסוף תקופת החכירה – התקופה המקובלת היא 36 חודשים – מחזיר העובד את הרכב לחברת הליסינג, ובוחר האם להמשיך את העסקה עם רכב חדש או לוותר על ה"רכב מהעבודה" ולהפסיק את העסקה.</p>
<p>זו למעשה עסקת השכרה לטווח ארוך, עם התחייבות של החוכר על תקופת החכירה (בניגוד להשכרה, שמתחדשת מדי חודש/שבוע). הרכב נשאר בבעלות חברת הליסינג בכל שלבי העסקה.</p>
<p>ברב המקרים, ההסכם בין העובד למעסיק (בניגוד להסכם מול חברת הליסינג) כולל גם דלק – אם בדמות החזר חודשי ואם בדמות התקן תדלוק –דלקן, פזומט וכדומה – המותקן במכונית. בחלק מהחברות מוגדר תקציב דלק חודשי מוגבל, בעוד באחרות כל הדלק משולם על ידי החברה.</p>
<p>כאמור, עסקאות הליסינג התפעולי נבדלות זו מזו בפרטים הקטנים, ולכן חשוב לקרוא את ה"אותיות הקטנות" – מה הגבלת הנסועה, מה גובה ההשתתפות העצמית במקרה תאונה, האם יש שירות איסוף לטיפולים/תיקונים ממקום העבודה וכן הלאה.</p>
<p>יתרונו העיקרי של מסלול זה על פני הליסינג המימוני הוא שהוא פוטר את החברה מניהול צי הרכב והטיפול בו – עניין שדורש כח אדם ייעודי והקצאת משאבים רבים.</p>
<p>מכיוון שהרכב מוגדר כ"שווה שכר" – משמע משהו שהמעביד נותן לעובד והוא שקול לכסף – עובד המקבל רכב מהעבודה נאלץ לשלם מס על "שווי שימוש". עוד על הנושא הזה – בסקירה המורחבת בנושא.</p>
  </div>
  <hr/>
  <h2 class="special-writing dark-red">מדריכים וכתבות בנושא ליסינג תפעולי</h2>
  <ul class="list-group">
    <li class="list-group-item text-center" ng-repeat="article in operatingLeasingContent">
      <a ng-href="/#{{article.url}}">
        <h5 class="text-center dark" style="padding: 0; margin: 0;">
            <strong>{{article.name}}</strong>
        </h5>
      </a>
    </li>
  </ul>
  <hr/>
  <img style="margin: 0 auto;" class="img-responsive" src="http://campaign.auto.co.il//media/8548/יועץ-חדש.jpg">
  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12 text-center">
      <a href="javascript:void(0)" ng-click="displayConsulting()" class="btn btn-danger"><h4 class="special-writing">לחץ כאן לקבלת יעוץ חינם</h4></a>
    </div>
  </div>
  <hr/>
  <h2 class="special-writing dark-red">כתבות נוספות בנושא ליסינג</h2>
  <more-articles category-id="83" current-article-id="10000" no-skip="true" more-text=""></more-articles>
</div>
