<div class="col-xs-12" style="">
  <a class="btn-icon" data-icon="w"
  ng-href="whatsapp://send?text={{url}}" title="שתפו בווטסאפ"><img height="40" src="/assets/images/share-whatsapp.png"/></a>
  <a class="btn-icon" data-icon="w"
  ng-href="https://www.facebook.com/dialog/feed?app_id=892737367510312&redirect_uri={{url}}&link={{url}}&ref=responsive"
  data-action="share/whatsapp/share" title="שתפו בפייסבוק"><img height="40" src="/assets/images/share-fb.png"/></a>
  <a class="btn-icon" data-icon="w"
  ng-href="mailto:?subject={{title}}&body={{url}}"
  data-action="share/whatsapp/share" title="שתפו במייל"><img height="40" src="/assets/images/share-email.png"/></a>
</div>
