<div class="auto-maavron" style="position: fixed; z-index: 3000; top: 0; left:0; width: 100%; height: 100%; display: none;">
  <iframe src="maavron.html" style="position: absolute; top:0;left:0; width: 100%; height: 100%; border: none;"></iframe>
</div>
<div class="automag-app" ng-cloak="navs">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
          <span ng-if="isIOS && isPhone" class="glyphicon glyphicon-chevron-left back-button" ng-click="goBack()"></span>
          <button type="button" class="navbar-toggle" id="menu-button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="padding-top: 10px;" href="#/articles/latest"><%= image_tag "auto.png", height: "30px" %></a>
        </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="NavCtrl">
        <ul class="nav navbar-nav">
          <li ng-repeat="nav in navs" class="{{isActive($index)}}"><a ng-click="navigate(nav.route)">{{nav.name}}</a></li>
        </ul>
        <span ng-if"isIOS && !isPhone" class="glyphicon glyphicon-chevron-left back-button" ng-click="goBack()"></span>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
  <div class="container-fluid">
    <div ng-view class="main-section">
    </div>
  </div>
</div>
<div class="auto-ad-container navbar navbar-default navbar-fixed-bottom" ng-if="showBanner()">
  <iframe src="banner.html" style="position: absolute; top: 0; left: 0; width: 100%; border: none;"></iframe>
</div>

