// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// this is for -webkit browser to remove the darg event.
// this is needed for the angular slider for the ng-touch event to work

$brand-danger:      #bb0000 !default;//    #EC1B23 !default;
$auto-red: $brand-danger;
$auto-border-color: #ddd;
$auto-red-darker: #ba1016;
$auto-dark-red: #BB0000;
$state-danger-text:              white !default;
$state-danger-bg:                #EC1B23 !default;
$auto-dark: #222;

@font-face {
  font-family: 'extazy';
  src: url('/fonts/extazyregularwebfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/extazyregularwebfont.eot?') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/extazyregularwebfont.woff') format('woff'), /* Modern Browsers */
       url('/fonts/extazyregularwebfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/extazyregularwebfont.svg') format('svg'); /* Legacy iOS */
     font-weight: normal;
}

@font-face {
  font-family: 'extazy';
  src: url('/fonts/extazyboldwebfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/extazyboldwebfont.eot?') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/extazyboldwebfont.woff') format('woff'), /* Modern Browsers */
       url('/fonts/extazyboldwebfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/extazyboldwebfont.svg') format('svg'); /* Legacy iOS */
    font-weight: bold;
}

// $icon-font-path: "../fonts/" !default;
.headhesive {
    /* Required styles */
  position: fixed;
  z-index: 1;
  top: 50;
  left: 0;
  width: 100%;

  /* Additional styles */
  background: #fff;

  /* Translate -100% to move off screen */
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);

  /* Animations */
  -webkit-transition: all 200ms ease-in-out;
     -moz-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
  // border-bottom: 1px solid $auto-border-color;

}
.headhesive--stick {

  /* Translate back to 0%; */
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);

    height: 50px;
    padding: 0 15px 0 15px;
    // box-shadow: 0 0 10px black;
    border-bottom: 2px solid $auto-border-color;
}


#loading-bar .bar {
  background: $brand-danger;
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  $brand-danger;
  border-left-color: $brand-danger;
}
body {padding-top: 50px; padding-bottom: 40px; padding-bottom: 10vh;}
.back-button {
  font-size: 1.5em;
  color: #fff;
  float: left;
  margin: 13px 0 0 10px;
}

.inline-ad {
  padding: 10px;
  text-align: center;
  min-height: 50px;
}

@media (orientation: landscape) {
  #auto-bottom-ad-container {
    display: none;
  }
  body {
    padding-bottom: 0;
  }
}

#auto-bottom-ad-container {
    height: 50px;
    height: 10vh;
    min-height: 50px;
}

.auto-ad-container {
  position: fixed;
  bottom: 0;
  height: 50px;
  min-height: 50px !important;
  padding: 0;
  z-index: 9999;
  background: white;
  //color: $auto-red;
  width: 100%;
  border: none;
  &.inline {
    position: static;
  }
  &.big-ad {
    height: 300px;
  }
}
.automag-app {
  .navbar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    #auto-brand {
      flex: 1 100%;
      display: flex;
      justify-content: center;
    }
    #ios-back {
      flex: 1 100%;
    }
    #menu-button {
      flex: 1 100%;
      .navbar-toggle {
        float: right;
        padding: 5px;
        margin: 5px 5px 0 0;
        .icon-bar {
          display: block;
          width: 30px;
          height: 2px;
          border-radius: 1px;
        }

        .icon-bar + .icon-bar {
          margin-top: 10px;
        }
      }
    }
  }
  .content-page {
    .content-list {
      display:flex;
      justify-content: space-between;

    }
    .content-list-item {
      border: 1px solid $auto-dark-red;
      display: flex;
      align-items: center;
      margin: 0 2px;
      padding: 5px;
      border-radius: 5px;
    }
  }
  .special-writing {
    text-align: center;
    font-family: extazy;
    // font-weight: bold;
    // background-color:
    color: #fff;
    // font-size: 1.99em;
    letter-spacing: -0.025em;
  }
  .red {
      color: $auto-red;
  }
  .dark-red {
    color: $auto-dark-red;
  }
  .dark {
    color: $auto-dark;
  }
  .contain {
    display: block;
    overflow: hidden;
    height: 1%;
  }

  .auto-menu-item {
    font-size: 1.2em;
  }

  @media (max-width: 499px) {
    .col-xxs {
      display:block;
      float:none;
      width: 100%;
      &.carousel-item {
        padding: 0;
      }
    }
    .hidden-xxs {
      visibility: hidden;
    }
    .index-page .rn-carousel-control {
      margin-top: -80px !important;
    }

  }

  @media (min-width: 500px) and (max-width: 767px) {
    .carousel-item {
      padding-right: 0px;
    }
  }

  .rn-carousel-container {
    direction: ltr;
  }
  .rn-carousel-indicator {
    display: inline-block;
    background: none;
    height: initial;
    span {
      display: inline-block;
      &.active {
        color: red;
      }
    }
  }

  .index-page {
    .main-headline {
      position:relative;
      span {
        position: absolute;
        font-weight: bold;
        font-size: 15px;
        bottom: 0;
        right: 0px;
        background: $auto-red;
        margin: 0 13px 2px 0;
        color: white;
        padding: 3px 5px;
      }
    }
    .car-list-item {
      border-bottom: 2px solid #ddd;
    }
    .articles-list {
      padding: 0;
    }
    .bottom-menu {
      padding-top: 10px;
      border-top: solid #444 2px;
      background-color: $auto-dark;
      .bottom-menu-item {
        padding: 10px 0;
        color: white;
        font-size: 1.1em;
        line-height: 1.3em;
        text-align: center;
      }
    }
    .catalog-component {
      margin-top: 20px;
      border-bottom: 2px solid #ddd;
      .bootstrap-select { margin-top: 20px;}
    }
  }

  .buying-guide-page, .car-compare-page, .index-page {
    .dropdown-menu {
      text-align: right;
      .select-option {
        line-height: 2em;
      }
    }
  }

  .car-compare-page {
    .selectors-container {
      padding-top: 15px;
    }
  }

  .compare-result-page {

    .header-cell {
      line-height: 30px;
      font-size: 1.1em;
      min-height: 30px;
      font-weight: bold;
      //border-bottom: solid 1px $auto-red-darker;
      // background-image: linear-gradient(to bottom, $auto-red 0%, $auto-red-darker 100%);
      background: $auto-border-color;
      color: $auto-dark;
    }
    .value-cell {
      font-size: 1.1em;
      min-height: 30px;
      line-height: 30px;
    }
    .border-right {
      border-right: solid 2px $auto-border-color;
    }
    .border-left {
      border-left: solid 2px $auto-border-color;
    }
    .border-bottom {
      border-bottom: solid 2px $auto-border-color;
    }
  }

  .model-page, .index-page, .model-gallery-page {
    .rn-carousel-control {
      margin-top: -20px;
      font-size: initial;
      opacity: 1;
    }
    .rn-carousel-control.rn-carousel-control-prev:before {
      content: url('images/carousel-left.png');
    }
    .rn-carousel-control.rn-carousel-control-next:before {
      content: url('images/carousel-right.png');
    }
  }
  .more-articles {
    .more-articles-item {
      padding: 10px 0;
      border-bottom: 1px solid;
      border-color: #222;
    }
  }

  .list-group-item-inverse {
    color: white;
    background-color: #222;
    border-color: #090909;
  }

  .list-group-item-danger {
    background-color: $auto-dark-red;
  }

  //override bootstrap select values to make it rtl
  .bootstrap-select.btn-group .btn {
    .caret {
      left: 12px;
      right: initial;
    }

    .filter-option {
      float: right;
      text-align: right;
      &.pull-left {
        float: right !important;
      }
    }
  }

  .car-list-item {
    h4 { margin: 0; }
    padding: 5px 0px;
    border-bottom: solid 1px #222;
  }

  .articles-list {
    h4 { margin: 0; }
    .article-header {
      h3 { margin: 0; }
      background-color: $auto-red;
      color: white;
    }

    .more-in-category {
      background-color: #222;
      a {
        color: white;//#EC1B23;
      }
      margin-bottom: 2px;
      &.last_category {
        margin-bottom: 0;
        padding-bottom: 20px;
      }
      //padding: 5px 0;
      h3 {margin:0}
    }
  }

  .article {

    .article-consulting-link {
      display: -webkit-box;
      margin: 0 auto;
      -webkit-box-orient: vertical;
      max-width: 90%;
      -webkit-line-clamp:2;
      color: white;
      background: $auto-red;
      font-family: extazy;
      padding: 5px;
      border-radius: 10px;
    }
    hr {
      border-top: 1px solid #222;
    }
    h4 { font-weight: bold; }
    div { font-size: 18px !important; }

    .share-col {
      text-align: left;

      .share-btn {
        background-color: rgb(255,0,0); // Old browsers
        background: -webkit-linear-gradient(rgb(255,0,0) 0%,rgb(86,0,0)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(rgb(255,0,0) 0%,rgb(86,0,0)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(rgb(255,0,0) 0%,rgb(86,0,0)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(rgb(255,0,0) 0%,rgb(86,0,0)); /* Standard syntax */
        border: none;
        border-radius: 5px;
        margin-top: 25px;
        padding: 2px 13px;
        height: 26px;

        .glyphicon-share {
          color: white;
        }
      }
    }
  }

  .model-page {
    hr {
      margin: 0 0 10px 0;
      border-top: 1px solid #ddd;
    }

    .sub-header {
      margin-bottom: 10px;
      display: block;
      overflow: hidden;
      height: 1%;
      div,h4 { display: inline;}
      .text-right { float: right; }
      .text-left {float: left; }
    }

    .competitor-item {
      margin-bottom: 10px;
      h4 { text-align: center; color: $auto-dark; }
      img { margin: 0 auto; border: 3px solid $auto-dark; }
    }
  }
  .carusela-lapanim {
    .img-thumbnail.active {
      border-color: #222;
    }
    .side-image {
      padding: 0 0 5px;
    }

    .carousel-item {
      h3 { margin-top: 0; }
    }
  }

  .index-header {
    h4 {margin: 0; }
    //    background-color: $auto-red;
  }

}


/// sahar css

.auto-version-included-item{
  padding-left: 2em !important;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
