// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// this is for -webkit browser to remove the darg event.
// this is needed for the angular slider for the ng-touch event to work
$brand-danger: #9F1B2C; //    #bb0000 !default;//    #EC1B23 !default;
$auto-red: $brand-danger;
$auto-border-color: #ddd;
$auto-red-darker: #9f1d2c; //#ba1016;
$auto-dark-red: #BB0000;
$state-danger-text: white !default;
$state-danger-bg: #EC1B23 !default;
$auto-dark: #222;
$grid-float-breakpoint: 5000px;
@font-face {
  font-family: 'extazy';
  src: url(/fonts/extazyregularwebfont.eot);
  /* IE9 Compat Modes */
  src:/* IE6-IE8 */
  /* Modern Browsers */
  /* Safari, Android, iOS */
  url('/fonts/extazyregularwebfont.eot?') format('embedded-opentype'),url('/fonts/extazyregularwebfont.woff') format('woff'),url('/fonts/extazyregularwebfont.ttf') format('truetype'),url('/fonts/extazyregularwebfont.svg') format('svg');
  /* Legacy iOS */
  font-weight: normal;
}
@font-face {
  font-family: 'extazy';
  src: url(/fonts/extazyboldwebfont.eot);
  /* IE9 Compat Modes */
  src:/* IE6-IE8 */
  /* Modern Browsers */
  /* Safari, Android, iOS */
  url('/fonts/extazyboldwebfont.eot?') format('embedded-opentype'),url('/fonts/extazyboldwebfont.woff') format('woff'),url('/fonts/extazyboldwebfont.ttf') format('truetype'),url('/fonts/extazyboldwebfont.svg') format('svg');
  /* Legacy iOS */
  font-weight: bold;
}
// $icon-font-path: "../fonts/" !default;
.headhesive {
  /* Required styles */
  position: fixed;
  z-index: 1;
  top: 50;
  left: 0;
  width: 100%;
  /* Additional styles */
  background: #fff;
  /* Translate -100% to move off screen */
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  /* Animations */
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  // border-bottom: 1px solid $auto-border-color;
}
.headhesive--stick {
  /* Translate back to 0%; */
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  height: 50px;
  padding: 0 15px;
  // box-shadow: 0 0 10px black;
  border-bottom: 2px solid $auto-border-color;
}
#loading-bar .bar {
  background: $brand-danger;
}
#loading-bar-spinner .spinner-icon {
  border-top-color: $brand-danger;
  border-left-color: $brand-danger;
}
body {
  padding-top: 50px;
  padding-bottom: 40px;
  padding-bottom: 10vh;
}
.back-button {
  font-size: 1.5em;
  color: #fff;
  float: left;
  margin: 7.5px 0 0 5px;
}
.inline-ad {
  padding: 10px;
  text-align: center;
  min-height: 50px;
}
@media (orientation: landscape) {
  #auto-bottom-ad-container {
    display: none;
  }
  body {
    padding-bottom: 0;
  }
}
#auto-bottom-ad-container {
  height: 50px;
  height: 10vh;
  min-height: 50px;
}
.auto-ad-container {
  position: fixed;
  bottom: 0;
  height: 50px;
  min-height: 50px !important;
  padding: 0;
  z-index: 9999;
  background: white;
  //color: $auto-red;
  width: 100%;
  border: none;
  &.inline {
    position: static;
  }
  &.big-ad {
    height: 300px;
  }
  &.main-ad {
    height: 300px;
    width: 100%;
    position:static;
    margin-left: -15px;
    margin-right: -15px;
  }
}
.automag-app {
  .catalog-button-container {

    background: #DADADA;
    padding: 5px 10px;

    .catalog-button {
      background: #fff;
      border-radius: 11px;
      border: 1px solid rgba(0,0,0,0.3);
      margin: 5px 0;
      display: flex;
      height: 44px;
      justify-content: space-between;
      flex-direction: row-reverse;
      .left-part {
        width: 60px;
        //flex: 1.7;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        background: linear-gradient(to bottom, #971B29 0%, #620E18 100%);
        border-radius: 11px 0 0 11px;

      }

      .right-part {
        flex: 1;
        padding: 7px 0;
        display: flex;
        font-size: 14px !important;

        justify-content: space-around;
        flex-direction: row;

        .text {
          flex: 5;
          font-size: 1.363em;
          font-family: "extazy";
          color: rgb(149, 26, 39);
          line-height: 30px;
          text-align: center;
        }
        .separator {
          flex: 1;
        }

      }
    }
  }

  .navbar-inverse {
    // background: $brand-danger;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%);
    background-color: rgba(0,0,0,0);
    border: none;
    .navbar-header {
      background-image: linear-gradient(to bottom, $auto-red-darker 0%, $auto-red-darker 100%);
    }
    .navbar-nav > li > a {
      color: #fff;
    }
    .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
      background: #fff;
      color: $auto-red-darker;
    }
    .navbar-collapse, .navbar-inverse .navbar-form {
      border-color: white;
      background-image: linear-gradient(to bottom, rgba(159,27,44,1) 0%, rgba(159,27,44,0.8) 100%) !important;
      // background-color: rgba(0,0,0,0.5) !important;

    }
  }
  .navbar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    #auto-brand {
      flex: 1 100%;
      display: flex;
      justify-content: center;
    }
    #ios-back {
      flex: 1 100%;
    }
    #menu-button {
      flex: 1 100%;
      .navbar-toggle {
        float: right;
        padding: 5px;
        margin: 5px 5px 0 0;
        border: none;
        background: $brand-danger;
        .icon-bar {
          display: block;
          width: 30px;
          height: 2px;
          // border-radius: 1px;
        }
        .icon-bar + .icon-bar {
          margin-top: 10px;
        }
      }
    }
  }
  .content-page {
    .content-list {
      display: flex;
      justify-content: space-between;
    }
    .content-list-item {
      border: 1px solid $auto-dark-red;
      display: flex;
      align-items: center;
      margin: 0 2px;
      padding: 5px;
      border-radius: 5px;
    }
  }
  .special-writing {
    text-align: center;
    font-family: extazy;
    // font-weight: bold;
    // background-color:
    color: #fff;
    // font-size: 1.99em;
    letter-spacing: -0.025em;
  }
  .red {
    color: $auto-red;
  }
  .dark-red {
    color: $auto-dark-red;
  }
  .dark {
    color: $auto-dark;
  }
  .contain {
    display: block;
    overflow: hidden;
    height: 1%;
  }
  .auto-menu-item {
    font-size: 1.2em;
  }
  .manf-page, .models-page {
    background: #F0F0F0;
    margin: 0 -15px 0 -15px;
    // margin-right: -15px;
    // margin-left: -15px;
    .manf-list-item {

      padding: 10px;
      border-bottom: 1px solid #DADADA;
      .model-text {
        font-size: 1.363em;
        font-family: extazy;
        color: rgba(15, 15, 15, 0.922);
        text-align: right;
        margin-bottom: 0;
      }

      .price-text {
          font-size: 13px;
          color: rgb(176, 0, 1);
          font-family: extazy;
          font-weight: bold;
          line-height: 1.293em;
          text-align: right;
      }
    }
    h2 {
      text-align: center; background: #247DC6; color: #fff;
      margin: 0;
      padding: 15px 0;
    }
    h3 {
      font-family: extazy;
    }

  }
  @media (max-width: 499px) {
    .col-xxs {
      display: block;
      float: none;
      width: 100%;
      &.carousel-item {
        padding: 0;
      }
    }
    .hidden-xxs {
      visibility: hidden;
    }
    .index-page .rn-carousel-control {
      margin-top: -80px !important;
    }
  }
  @media (min-width: 500px) and (max-width: 767px) {
    .carousel-item {
      padding-right: 0;
    }
  }
  .rn-carousel-container {
    direction: ltr;
  }
  .rn-carousel-indicator {
    display: inline-block;
    background: none;
    height: initial;
    span {
      display: inline-block;
      &.active {
        color: red;
      }
    }
  }
  .index-page {
    .main-headline {
      position: relative;
      span {
        position: absolute;
        font-weight: bold;
        font-size: 15px;
        bottom: 0;
        right: 0;
        background: $auto-red;
        margin: 0 13px 2px 0;
        color: white;
        padding: 3px 5px;
      }
    }
    .car-list-item {
      border-bottom: 2px solid #ddd;
    }
    .articles-list {
      padding: 0;
    }
    .bottom-menu {
      padding-top: 10px;
      border-top: solid #444 2px;
      background-color: $auto-dark;
      .bottom-menu-item {
        padding: 10px 0;
        color: white;
        font-size: 1.1em;
        line-height: 1.3em;
        text-align: center;
      }
    }
    .catalog-component {
      margin-top: 20px;
      border-bottom: 2px solid #ddd;
      .bootstrap-select {
        margin-top: 20px;
      }
    }
  }
  .buying-guide-page,
  .car-compare-page,
  .index-page {
    .dropdown-menu {
      text-align: right;
      .select-option {
        line-height: 2em;
      }
    }
  }
  .car-compare-page {
    .selectors-container {
      padding-top: 15px;
    }
  }
  .compare-result-page {
    .header-cell {
      line-height: 30px;
      font-size: 1.1em;
      min-height: 30px;
      font-weight: bold;
      //border-bottom: solid 1px $auto-red-darker;
      // background-image: linear-gradient(to bottom, $auto-red 0%, $auto-red-darker 100%);
      background: $auto-border-color;
      color: $auto-dark;
    }
    .value-cell {
      font-size: 1.1em;
      min-height: 30px;
      line-height: 30px;
    }
    .border-right {
      border-right: solid 2px $auto-border-color;
    }
    .border-left {
      border-left: solid 2px $auto-border-color;
    }
    .border-bottom {
      border-bottom: solid 2px $auto-border-color;
    }
  }
  .model-page,
  .index-page,
  .model-gallery-page {
    .rn-carousel-control {
      margin-top: -20px;
      font-size: initial;
      opacity: 1;
    }
    .rn-carousel-control.rn-carousel-control-prev:before {
      content: url(images/carousel-left.png);
    }
    .rn-carousel-control.rn-carousel-control-next:before {
      content: url(images/carousel-right.png);
    }
  }
  .more-articles {
    .more-articles-item {
      padding: 10px 0;
      border-bottom: 1px solid;
      border-color: #222;
    }
  }
  .list-group-item-inverse {
    color: white;
    background-color: #222;
    border-color: #090909;
  }
  .list-group-item-danger {
    background-color: $auto-dark-red;
  }
  //override bootstrap select values to make it rtl
  .bootstrap-select.btn-group .btn {
    .caret {
      left: 12px;
      right: initial;
    }
    .filter-option {
      float: right;
      text-align: right;
      &.pull-left {
        float: right !important;
      }
    }
  }
  .car-list-item {
    h4 {
      margin: 0;
    }
    padding: 5px 0;
    border-bottom: solid 1px #222;
  }
  .articles-list {
    h4 {
      margin: 0;
    }
    .article-header {
      h3 {
        margin: 0;
      }
      background-color: $auto-red;
      color: white;
    }
    .more-in-category {
      background-color: #222;
      a {
        color: white; //#EC1B23;
      }
      margin-bottom: 2px;
      &.last_category {
        margin-bottom: 0;
        padding-bottom: 20px;
      }
      //padding: 5px 0;
      h3 {
        margin: 0;
      }
    }
  }
  .article {
    .article-consulting-link {
      display: -webkit-box;
      margin: 0 auto;
      -webkit-box-orient: vertical;
      max-width: 90%;
      -webkit-line-clamp: 2;
      color: white;
      background: $auto-red;
      font-family: extazy;
      padding: 5px;
      border-radius: 10px;
    }
    hr {
      border-top: 1px solid #222;
    }
    h4 {
      font-weight: bold;
    }
    div {
      font-size: 18px !important;
    }
    .share-col {
      text-align: left;
      .share-btn {
        background-color: rgb(255,0,0); // Old browsers
        background: -webkit-linear-gradient(rgb(255,0,0) 0%,rgb(86,0,0));
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(rgb(255,0,0) 0%,rgb(86,0,0));
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(rgb(255,0,0) 0%,rgb(86,0,0));
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(rgb(255,0,0) 0%,rgb(86,0,0));
        /* Standard syntax */
        border: none;
        border-radius: 5px;
        margin-top: 25px;
        padding: 2px 13px;
        height: 26px;
        .glyphicon-share {
          color: white;
        }
      }
    }
  }
  .model-page {
    hr {
      margin: 0 0 10px;
      border-top: 1px solid #ddd;
    }
    .sub-header {
      margin-bottom: 10px;
      display: block;
      overflow: hidden;
      height: 1%;
      div,
      h4 {
        display: inline;
      }
      .text-right {
        float: right;
      }
      .text-left {
        float: left;
      }
    }
    .competitor-item {
      margin-bottom: 10px;
      h4 {
        text-align: center;
        color: $auto-dark;
      }
      img {
        margin: 0 auto;
        border: 3px solid $auto-dark;
      }
    }
  }
  .carusela-lapanim {
    .img-thumbnail.active {
      border-color: #222;
    }
    .side-image {
      padding: 0 0 5px;
    }
    .carousel-item {
      h3 {
        margin-top: 0;
      }
    }
  }
  .index-header {
    h4 {
      margin: 0;
    }
    //    background-color: $auto-red;
  }
}
/// sahar css
.auto-version-included-item {
  padding-left: 2em !important;
}
[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}
